.big {
  font-size: larger;
  clear: both;
}

.little {
  margin: 0px;
}

#year {
  float: left;
}

#runtime {
  float: right;
}

#title {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 10px;
}

#plot::-webkit-scrollbar {
  display: none;
}

#plot {
  padding: 10px;
  text-align: justify;
}
